@import url('https://fonts.googleapis.com/css?family=Gothic+A1');

*{
	font-family : "Gothic+A1",sans-serif;
}

header{
	background-image: radial-gradient( ellipse at center ,white , limegreen );;
	color: white;
	border-radius: 0px 0px 46px 46px;
	border-width :0px;
	border-bottom-width:1px;
	border-style:groove;
	height : 126px;
}
header img{
	float : left;
	height : 70%;
	margin-right : 2%;
}
header button{
	float : right;
	height : 50px;
	width : 160px;
	top : 10px;
	font-family : "Gothic+A1",sans-serif;
	background-image:linear-gradient();
}

body{
	background-position: bottom;
	background-image:url(Images/e.jpg);
	background-position: center;
	background-size: cover;
}

header h2,header h3{
	margin : 2px;
}

header hr{
	margin-top : 10px;
}

#slogan{
	text-align : center;
	float : left;
	margin-top : 25px;
}

#contenu{
	text-align : center;
	margin : 0px 40%;
	margin-bottom : 10px;
	width : 350px;
}

#boutons{
	width : 20%;
}

#contenu button {
	width : 350px;
	height : 160px;	
}

footer{
	height : 51px;
	position : absolute;
	bottom : 0;
	width : 99%;
	padding-top : 20px;
}

figure img{
	height : 40px;
	width : 40px;
	border-radius : 50%;
}

#Reseaux{
	display : flex;             /* mettre les éléments dans une boîte */
	justify-content : center;   /* aligner à la verticale */
	position : absolute;
	left : 30px;
	bottom : 15px;
	text-align : center;
	position: -webkit-sticky;
}



#global{
	display : flex;
	justify-content : center;
	align-items : center;
}

footer p{
	position : absolute;
	right : 40px;

	top : 1px;
}

hr{
	margin-top : 65px;
}

.zonetexte {
	box-shadow: 3px 2px olive, -1em 0 .4em olivedrab;
	border-radius: 45px;
	position: absolute;
	overflow:scroll;
	width:1200px;
	height:500px;
	background-color: white;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	margin-top : 45px;
	margin-right : 65px;
	margin-left : 65px;
	border-width:5px;
	border-style:double;
	border-color:green;
}