HTML  CSS Result
EDIT ON
LIVE

1
/*
2
P.S: if you like my content maybe you will become a donator and donate some money? That helps me to create new awesome materials. https://www.paypal.me/melnik909
3
*/
4
​
5
.switch{
6
  --uiSwitchSize: var(--switchSize, 64px);
7
  --uiSwitchBgColor: var(--switchBgColor, #f1f1f1);
8
  --uiSwitchBgColorActive: var(--switchBgColorActive, #4ed164);
9
  --uiSwitchBorderColorActive: var(--switchBorderColorActive, #fff);
10
  --uiSwitchBorderColorFocus: var(--switchBgColorFocus, #43b556);
11
  --uiSwitchButtonBgColor: var(--switchButtonBgColor, #fff);  
12
  
13
  display: inline-block;
14
  position: relative;
15
  cursor: pointer;
16
  -webkit-tap-highlight-color: transparent;
17
}
18
​
19
.switch__label{
20
  display: block;
21
  width: 100%;
22
  height: 100%;
23
}
24
​
25
.switch__toggle{
26
  width: 0;
27
  height: 0;
28
  opacity: 0;

Resources 1×0.5×0.25× Rerun